* {
  position: static;
}

.bayan {
  max-width: 70vw;
  margin: 0 auto;
  padding: 0 2%;
}

h1 {
  padding-bottom: .5rem;
  border-bottom: .2rem solid #d9d9d9;
  margin-bottom: 1rem;
  font-size: 2.2rem;
}

.bayan-item {
  width: 100%;
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: .2rem solid #d9d9d9;
  position: relative;
  font-size: 1.5rem;
}

.bayan-item input {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
  appearance: none;
  border-radius: 0;
  z-index: 3;
}

.item-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .3rem 0;
}

.item-content {
  width: 100%;
  display: block;
  overflow: hidden;
}

.item-btn {
  transition: all .5s;
  font-size: 1.5em;
}

.item-img {
  transition: all .5s;
  margin: 0 auto;
  max-height: 0;
}

.bayan-item :checked ~ .item-content .item-img, 
.bayan-item input:hover ~ .item-content .item-img {
  max-height: 100ex;
  object-fit: contain;
  font-size: 2.2em;
}

.bayan-item :checked ~ .item-content >
  .item-title >
  .item-btn, 
.bayan-item input:hover ~ .item-content >
  .item-title >
  .item-btn {
  transform: rotate(45deg);
}

@media (max-width: 900px) {
  h1 {
    font-size: 1.8rem;
    border-bottom: .15rem solid #d9d9d9;
  }
  .bayan-item {
    font-size: 1.2rem;
    border-bottom: .15rem solid #d9d9d9;
  }
}
@media (max-width: 700px) {
  .bayan-item input {
    cursor: default;
  }
}

@media (max-width: 500px) {
  h1 {
    font-size: 1.5rem;
    border-bottom: .1rem solid #d9d9d9;
  }

  .bayan {
    max-width: 95vw;
  }
  
  .bayan-item {
    font-size: 1rem;
    border-bottom: .1rem solid #d9d9d9;
  }
}
