.bayan {
  width: 400px;
  margin: 0 auto;
}

h1 {
  padding-bottom: 5px;
  border-bottom: 2px solid #d9d9d9;
  margin-bottom: 20px;
}

.bayan-item {
  width: 100%;
  margin-bottom: 0;
  padding-bottom: 5px;
  border-bottom: 2px solid #d9d9d9;
  padding: 0;
  position: relative;
}

.bayan-item input {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
  appearance: none;
}

.item-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item-content {
  width: 100%;
  display: block;
  height: 25px;
  overflow: hidden;
  transition: all .2s;
}

.item-btn {
  transition: all .2s;
}

.bayan-item :checked ~ .item-content, 
.bayan-item input:hover ~ .item-content {
  height: max-content;
}

.bayan-item :checked ~ .item-content >
  .item-title >
  .item-btn, 
.bayan-item input:hover ~ .item-content >
  .item-title >
  .item-btn {
  transform: rotate(45deg);
}
